<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>
        <li><a href="customers/new"><strong>Add A Customer</strong></a></li>
        <% customers.each do |customer| %>
        <div class="btn-group">
            <a href="customer_dashboard.<%=customer.id%>" class="btn btn-default custom" role="button"><%= customer.name %></a>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="list_accounts.<%=customer.id%>">Manage Accounts</a></li>
            <li><a href="customer_dashboard.<%=customer.id%>">Manage Alerts</a></li>
            <li><%= link_to 'Delete Customer', customer_path(customer), method: :delete,
             data: {confirm: 'Are you sure?'} %></li>
          </ul>
        </div>
        <% end %>
      </ul>
    </div>
