<% provide(:title, 'Add Account') %>
<h1>Add Account</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@account) do |f| %>
      <%#= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :account_number %>
      <%= f.number_field :account_number, class: 'form-control' %>

      <%= f.submit "Add Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
