<% provide(:title, 'Add Account') %>
<h1>Add Account</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@account) do |f| %>
      <%#= render 'shared/error_messages' %>

      <div class="form-group">
      <%= f.label :customer_name %><br />
      <%= f.select :customer_name, Customer.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'},class:'form-control' %><br /><br />
      </div>

      <%= f.label :account_name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :account_number %>
      <%= f.text_field :account_number, class: 'form-control' %>

      <%= f.hidden_field :customer_id, class: 'form-control', style: 'opacity:0', value: params[:customer_id] %>

      <%= f.submit "Add Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
